*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
} 
.slider{
    width: 80%; /*define a largura do container do slider*/
    height: 450px; /*define a altura do container do slider*/
    overflow: hidden; /*esconde qualquer conteudo que exceda as dimensoes do slider*/
    position: relative; /*define o contexto do posicionamento para os elementos filhos */
    margin: auto; /*centraliza o slider */
    margin-top: 50px; /* afasta o container do topo */
}
.slide {
    width: 100%; /*define a largura do slide p ocupar todo o container do slider*/
    height: 100%; /*define a altura do slide p ocupar todo o container do slider*/
    position: absolute; /*permite posicionar os slides dentro do container*/
    opacity: 0; /*define a opacidade inicial do slide como transparente*/
    transition: opacity 0.5s ease-in-out;/*adiciona uma transição suave para a propiedade de opacidade*/
}
.slide img {
    width: 100%; /*faz com que a imagem ocupe td a largura do slide*/
    height: 100%; /*faz com que a imagem ocupe td a altura do slide*/
    object-fit: cover; /*redimensiona a imagem para preencher o espaço disponível no slide*/
}

.slide.active {
    opacity: 1; /*define a opacidade do slide ativo com opaco (vísivel)*/
}

.slide:nth-child(1) {
    animation: fade 6s infinite ; /*adiciona a animação 'fade' ao primeiro slide*/
}

.slide:nth-child(2) {
    animation: fade 6s infinite 2s; /*adiciona a animação fade ao segundo slide com um atraso de 2 segundos*/
}
.slide:nth-child(3) {
    animation: fade 6s infinite 4s; /*adiciona a animação fade ao segundo slide com um atraso de 4 segundos*/
}

@keyframes fade {
    0% {
        opacity: o; /*define a opacidade inicial da animação como transparente*/
    }

    25% {
        opacity: 1; /*define a opacidade intermediária da animação como opaco (vísivel)*/
    }

    75% {
        opacity: 1; /*define a opacidade intermediária da animação como opaco (vísivel)*/
    }

    100% {
        opacity: 0; /*define a opacidade final da animação como transparente*/
    }
    
}